.copyright {
    border-top: 1px solid #575757;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 0;

        .copyright__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #6D6D6D;

            .logo {
                text-transform: uppercase;
                color: #fff;
            }
        }
        .agreement {
            align-self: flex-end;

            a {
                color: #6D6D6D;
                text-decoration: none;
            }
        }
    }
}