$bg-color: #1B1B1A;
$text-color: #FFFFFF;
$photo-bg-color: #121212;

$text-light: #6D6D6D;
$text-grey: #949494;
$text-oppacity: #757575;

$font-logo: 'ScaniaSansCYHeadline', 'Verdana', 'Geneva', 'sans-serif';
$font-scania-bold: 'ScaniaSansCY-Bold', 'Verdana', 'Geneva', 'sans-serif';
$font-regular: 'LabGrotesque-Regular', 'Verdana', 'Geneva', 'sans-serif';
$font-thin: 'LabGrotesque-Thin', 'Verdana', 'Geneva', 'sans-serif';
$font-light: 'LabGrotesque-Light', 'Verdana', 'Geneva', 'sans-serif';

$yellow-color: #FFCF7A;